In [145]:
# import library

In [147]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

from sklearn.metrics import mean_squared_error,accuracy_score,confusion_matrix

In [149]:
# Load dataset

In [151]:
df = pd.read_csv("/Users/surya/Downloads/heart detection/HeartAttack .csv",na_values = '?')

In [153]:
df.head (10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0
5,32,0,2,105.0,198.0,0.0,0.0,165.0,0.0,0.0,NaN,NaN,NaN,0
6,32,1,2,110.0,225.0,0.0,0.0,184.0,0.0,0.0,NaN,NaN,NaN,0
7,32,1,2,125.0,254.0,0.0,0.0,155.0,0.0,0.0,NaN,NaN,NaN,0
8,33,1,3,120.0,298.0,0.0,0.0,185.0,0.0,0.0,NaN,NaN,NaN,0
9,34,0,2,130.0,161.0,0.0,0.0,190.0,0.0,0.0,NaN,NaN,NaN,0

In [155]:
# Info of dataset

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         294 non-null    int64
 1   sex         294 non-null    int64
 2   cp          294 non-null    int64
 3   trestbps    293 non-null    float64
 4   chol        271 non-null    float64
 5   fbs         286 non-null    float64
 6   restecg     293 non-null    float64
 7   thalach     293 non-null    float64
 8   exang       293 non-null    float64
 9   oldpeak     294 non-null    float64
 10  slope       104 non-null    float64
 11  ca          3 non-null      float64
 12  thal        28 non-null     float64
 13  num         294 non-null    int64
dtypes: float64(10), int64(4)
memory usage: 32.3 KB

In [159]:
df.isnull().sum()

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64

In [161]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,294.000000,294.000000,294.000000,293.000000,271.000000,286.000000,293.000000,293.000000,293.000000,294.000000,104.000000,3.0,28.000000,294.000000
mean,47.826531,0.724490,2.982993,132.583618,250.848708,0.069930,0.218430,139.129693,0.303754,0.586054,1.894231,0.0,5.642857,0.360544
std,7.811812,0.447533,0.965117,17.626568,67.657711,0.255476,0.460868,23.589749,0.460665,0.908648,0.338995,0.0,1.615074,0.480977
min,28.000000,0.000000,1.000000,92.000000,85.000000,0.000000,0.000000,82.000000,0.000000,0.000000,1.000000,0.0,3.000000,0.000000
25%,42.000000,0.000000,2.000000,120.000000,209.000000,0.000000,0.000000,122.000000,0.000000,0.000000,2.000000,0.0,5.250000,0.000000
50%,49.000000,1.000000,3.000000,130.000000,243.000000,0.000000,0.000000,140.000000,0.000000,0.000000,2.000000,0.0,6.000000,0.000000
75%,54.000000,1.000000,4.000000,140.000000,282.500000,0.000000,0.000000,155.000000,1.000000,1.000000,2.000000,0.0,7.000000,1.000000
max,66.000000,1.000000,4.000000,200.000000,603.000000,1.000000,2.000000,190.000000,1.000000,5.000000,3.000000,0.0,7.000000,1.000000

In [163]:
df = df.drop(columns = ["slope","ca","thal"],axis = 1)

In [165]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0

In [167]:
df = df.dropna()

In [169]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0
5,32,0,2,105.0,198.0,0.0,0.0,165.0,0.0,0.0,0

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 261 entries, 0 to 293
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         261 non-null    int64
 1   sex         261 non-null    int64
 2   cp          261 non-null    int64
 3   trestbps    261 non-null    float64
 4   chol        261 non-null    float64
 5   fbs         261 non-null    float64
 6   restecg     261 non-null    float64
 7   thalach     261 non-null    float64
 8   exang       261 non-null    float64
 9   oldpeak     261 non-null    float64
 10  num         261 non-null    int64
dtypes: float64(7), int64(4)
memory usage: 24.5 KB

In [173]:
df.isnull().sum()

age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
num           0
dtype: int64

In [175]:
#dummies using pandas to convert cateogorical value to one hot encoding

In [177]:
df = pd.get_dummies(df,columns = ["cp","restecg"])

In [179]:
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,num,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,False,True,False,False,False,False,True
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,False,True,False,False,True,False,False
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,True,False,False,False,False,True,False
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,False,True,False,False,False,True,False
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,False,True,False,False,True,False,False

In [181]:
numerical_cols = ["age","trestbps","chol","thalach","oldpeak"]
cat_cols = list(set(df.columns) - set(numerical_cols) - {"num       "})

In [183]:
df["oldpeak"].value_counts()

oldpeak
0.0    165
1.0     36
2.0     28
1.5     15
3.0      9
2.5      3
0.5      2
0.8      1
4.0      1
5.0      1
Name: count, dtype: int64

In [185]:
df.columns

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'num       ', 'cp_1', 'cp_2', 'cp_3', 'cp_4', 'restecg_0.0',
       'restecg_1.0', 'restecg_2.0'],
      dtype='object')

In [187]:
df = df.rename(columns={'num       ': "target"})

In [189]:
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,False,True,False,False,False,False,True
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,False,True,False,False,True,False,False
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,True,False,False,False,False,True,False
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,False,True,False,False,False,True,False
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,False,True,False,False,True,False,False

In [191]:
cat_cols

['sex',
 'cp_1',
 'exang',
 'fbs',
 'cp_2',
 'restecg_2.0',
 'cp_4',
 'restecg_0.0',
 'cp_3',
 'restecg_1.0']

In [193]:
numerical_cols

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

In [195]:
#splitinng data

In [197]:
df_train , df_test = train_test_split (df,test_size = 0.2, random_state = 42)

In [199]:
len(df_train) , len(df_test)

(208, 53)

In [201]:
scaler = StandardScaler()

def get_features_and_target_arrays(df,numerical_cols,cat_cols,scaler) :
    x_numeric_scaled_scaled = scaler.fit_transform(df[numerical_cols]) #numeric columns
    x_categorical = df[cat_cols].to_numpy() #categorical columns
    x = np.hstack((x_categorical,x_numeric_scaled_scaled))
    y = df["target"]
    return x,y

In [203]:
print(df_test.columns)

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'target', 'cp_1', 'cp_2', 'cp_3', 'cp_4', 'restecg_0.0', 'restecg_1.0',
       'restecg_2.0'],
      dtype='object')

In [205]:
x_train , y_train = get_features_and_target_arrays(df_test,cat_cols,numerical_cols,scaler)

In [207]:
#train

In [209]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

/opt/homebrew/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [211]:
df_train.columns

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'target', 'cp_1', 'cp_2', 'cp_3', 'cp_4', 'restecg_0.0', 'restecg_1.0',
       'restecg_2.0'],
      dtype='object')

In [213]:
x_test , y_test = get_features_and_target_arrays(df_test,cat_cols,numerical_cols,scaler)

In [215]:
test_pred = clf.predict(x_test)

In [217]:
mean_squared_error(y_test,test_pred)

0.09433962264150944

In [219]:
accuracy_score(y_test,test_pred)

0.9056603773584906

In [221]:
confusion_matrix(y_test,test_pred)

array([[31,  2],
       [ 3, 17]])

In [223]:
#Decision Tree Classifier
dc_clf =DecisionTreeClassifier()
dc_clf.fit(x_train,y_train)

dlf_pred = dc_clf.predict(x_test)
print(mean_squared_error(y_test,dlf_pred))
print(accuracy_score(y_test,dlf_pred))

0.0
1.0

In [225]:
#Random Forest Classifier
rc_clf = RandomForestClassifier()
rc_clf.fit(x_train,y_train)

rc_pred = rc_clf.predict(x_test)
print(mean_squared_error(y_test,rc_pred))
print(accuracy_score(y_test,rc_pred))

0.0
1.0

In [227]:
#SVM Classifier
svm_clf = SVC()
svm_clf.fit(x_train,y_train)

svm_pred = svm_clf.predict(x_test)
print(mean_squared_error(y_test,svm_pred))
print(accuracy_score(y_test,svm_pred))

0.37735849056603776
0.6226415094339622